{% extends "base.html" %}

{% block main_body %}
	<div class="jumbotron">
  	<h1 class="display-4">Welcome to Printer Chat</h1>
  	<hr>
  	<div>
  	<p>This is where the form to post a message will be</p>
  	<button type="button" class="btn btn-primary btn-lg" href="#">Post message</button>
  	<hr>
  	<h3>Latest messages:</h3>
  	<p>Filip - <i>13:22 7/10-20</i></p>
  	<p>"Hej jag heter Filip"</p>
  	<p>Freja - <i>14:34 7/10-20</i></p>
  	<p>"Hej jag något annat än Filip"</p>
	</div>
{% endblock %}