{% extends "base.html" %}

{% block main_body %}
	<div class="jumbotron">
  	<h1 class="display-4">Very welcome indeed</h1>
  	<div class="ml-md-3">
  		<p>
	  		I don't wanna run (run) no more, but I know that if I stop<br>
				I'll be another nigga headed to heaven, hanging with 'Pac<br>
				These motherfuckers look at me like I'm a slanger<br>
				Makin threats to my family, dawg I'm in danger<br>
				Who do you call when these agents want you dead<br>
				And they hit these penitentiaries and niggas make a pledge<br>
				So I dip and duck the feds, all my homies stuck out on indictments<br>
				Caught up on the phone, talking prices (Hello?)<br>
				25-to-life's the mandatory minimal<br>
				My whole community gets treated like they criminals<br>
				Prior convictions getting motherfuckers hung<br>
				Got a C.I. on the inside and everybody's sung<br>
				Mothers and fathers separated from they sons<br>
				Households are broken, you couldn't hold your tongue<br>
				If it's yours, say it's yours, take the case, do your time<br>
				When you was out here getting money from it everything was fine<br>
				Now you crying in your jail cell, stressing on the case<br>
				And the D.A. is at a nigga every other day<br>
				I can see it in your face, in the middle of your soul<br>
				You in question of your manhood homey (Keep the code)
			</p>
		</div>
  	<hr class="my-4">
  	<p>You may want to press the button below, or you might not</p>
  	<a class="btn btn-primary btn-lg" href="#" role="button">This is the button</a>
	</div>
{% endblock %}