{% extends "base.html" %}

{% block main_body %}
	<div class="jumbotron">
  	<h1>Printer Chat</h1>
  	<h5>Please log in - Very welcome indeed</h5>
  	<hr>
  		<form method="post" action="{% url 'Login' %}">
				{% csrf_token %}
			  <div class="form-group">
			  	<label>Username</label>
			  	{{ form.username }}
			  </div>
			  <div class="form-group">
			  	<label>Password</label>
			    {{ form.password }}
			  </div>
			  <button type="submit" class="btn btn-primary">Log In</button>
			</form>

{% endblock %}



<!-- {{ form.username }} -->
<!-- {{ form.password }} -->