{% extends "base.html" %}

{% block main_body %}
	<h1>Sent messages</h1>
	<ul class="list-group">
	{% for message in object_list %}
	<li class="list-group-item">
		<div class="container">
			<div class="row">
				<div class="col-sm"><p id="post-username">{{ message.poster }}</p></div>
				<div class="col-sm"><p id="post-datetime">{{ message.timestamp }}</p></div>
			</div>
			<div class="row">
				<div class="col-sm"><p id="post-text">{{ message.text_content }}<p></div>
			</div>
		</div>
	</li>
	{% endfor %}
	</ul>
{% endblock %}